---
name: Test

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
        default: main
  pull_request:
    branches:
      - '*'

jobs:
  format:
    name: Format
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.branch }}
      - uses: dtolnay/rust-toolchain@stable

      - name: Format
        run: cargo fmt --all -- --check

  lint:
    name: Clippy
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.branch }}
      - uses: dtolnay/rust-toolchain@stable

      - name: Clippy
        run: cargo clippy --all-targets --all-features

  test:
    name: Test
    runs-on: macos-latest
    needs:
      - format
      - lint
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.branch }}
      - uses: dtolnay/rust-toolchain@stable

      - name: Test
        run: cargo test
